.socialLayer
    display: inline-flex
    position: relative
    justify-content: center
    gap: 10px
    padding: 10px 20px

    .icon
        position: relative
        cursor: pointer
        opacity: .9
        width: 24px
        height: 24px
        display: block
        text-align: center

@media (max-width: 640px) 
    .socialLayer
        position: relative

